<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    <li id="diamonds-link" data-hook><%= link_to Spree.t(:diamonds), spree.diamonds_path %></li>
    <li id="jewellery-link" data-hook><%= link_to Spree.t(:jewellery), spree.jewellery_path %></li>
    <li id="about-link" data-hook><%= link_to Spree.t(:about), spree.about_path %></li>
    <li id="vip-link" data-hook><%= link_to Spree.t(:vip), spree.vip_path %></li>
  </ul>
</nav>